.styled-table {
    border-collapse: collapse;
    font-family: 'Nunito', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    max-height: 600px;
}

.styled-table thead tr {
    background-color: #226796;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #065275;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #063f61;
    text-align: center;
}

.table-content {
    padding: 10px;
    background-color: rgb(62, 182, 190);
    position: absolute;
    justify-content: center;
    margin-top: 10%;
    margin-left: 32%;
    border-radius: 10px;
}

.btn1 {
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 5px;
    cursor: pointer;
    background-color: #5483aa;
    border-radius: 5px;
    border: 2px solid #ddd;
}
.btn1:hover {
    background-color: #15b6df;
}
