<header>
    <div class="topnav">
        <img class="logo1" src="assets/images/pic2.jpg" alt="logo">
        <ul>
            <li>
                <a routerLink="/table1">
                    <h4>Display standings</h4>
                </a>
            </li>
            <li>
                <a routerLink="/matchplayed">
                    <h4>Matches table</h4>
                </a>
            </li>
        </ul>
    </div>
</header>
<footer>
    <div class="footer">
        <h5>Premier League Management System
            <br>Created by Sumudu Herath<br> w17901147 All Rights Reserved.
        </h5>
    </div>
</footer>
<div>
    <router-outlet>
    </router-outlet>
</div>
<section>
    <div class="welcome">
        <h1> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;Welcome to Premier League Manager</h1>
    </div>
</section>